In [1]:
import glob,os
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [2]:
path = "Outputs"

In [3]:
file = glob.glob(os.path.join(path, "*.csv"))

In [4]:
for f in file:
    print(f[8:11])

ATT
CCC
AAC
CAG
AGC
GTG
TAA
CGA
CAA
ACT
AAG
AGG
GAC
ACC
ATA
GCC
CTT
AGA
GAG
GTA
TCA
ATG
TAC
CAT
GTC
ACA
TAT
TGT
AAA
GGG
ATC
TAG
GGT
TTG
GGC
TGG
TTC
CGT
CCA
CAC
GAA
GCG
GCA
TGA
TCG
CTG
CTC
TGC
GAT
AGT
ACG
TTT
CGC
CCT
GGA
GTT
GCT
TTA
CGG
AAT
TCT
CTA
CCG
TCC

In [5]:
Name = []
Intercept = []
Slope = []
R2 = []
Pvalue = []

for f in file:
    df = pd.read_csv(f)    
    name = f[8:11]
    x = np.asarray(df["Score"], dtype=float)
    y = np.asarray(df["Value"], dtype=float)
    x = sm.add_constant(x)
    model = sm.OLS(y, x).fit()
    
    r2 = model.rsquared    
    intercept = model.params[0]
    slope = model.params[1]    
    pvalue = model.pvalues[0]
    
    Name.append(name)
    Slope.append(slope)
    Intercept.append(intercept)
    R2.append(r2)
    Pvalue.append(pvalue)

/home/luoz/miniconda3/envs/m6AAI/lib/python3.8/site-packages/statsmodels/base/model.py:1362: RuntimeWarning: invalid value encountered in true_divide
  return self.params / self.bse

In [6]:
List = [Name, Slope, Intercept, Pvalue, R2]
df = pd.DataFrame(List)
df = df.T
df.rename(columns={0:"Name", 1:"Slope", 2:"Intercept", 3:"Pvalue", 4:"R2"}, inplace = True)

In [7]:
df

   Name        Slope  Intercept        Pvalue           R2
0   ATT    0.0146217 -0.0102833  7.40092e-254   0.00104485
1   CCC   -0.0176717 -0.0103735  1.51304e-258   0.00223786
2   AAC  0.000413576 -0.0103187   2.8931e-255  6.49016e-07
3   CAG   -0.0340791 -0.0105646  5.05449e-268   0.00481258
4   AGC   0.00981766  -0.010142  4.62627e-246     0.001408
..  ...          ...        ...           ...          ...
59  AAT -0.000413576 -0.0103187   2.8931e-255  6.49016e-07
60  TCT  -0.00331188 -0.0103163  2.70913e-255  0.000130973
61  CTA    0.0207329  -0.010642  4.28113e-271   0.00430988
62  CCG   -0.0136004  -0.010126  2.24113e-244  0.000976251
63  TCC   -0.0319524 -0.0103551   2.4315e-260    0.0125109

[64 rows x 5 columns]

In [8]:
df = df.sort_values(by=["Slope"], axis=0, ascending=[False]) 
df = df.reset_index(drop = True)

In [9]:
df

   Name      Slope   Intercept        Pvalue          R2
0   AGA  0.0541767 -0.00943754  2.00863e-219   0.0290628
1   GAC  0.0485549  -0.0099873   5.7389e-242   0.0121331
2   ACT  0.0428209  -0.0100183  1.32575e-244   0.0161773
3   GGA  0.0415992  -0.0101787  3.94951e-252   0.0144469
4   TTT  0.0358899  -0.0102922  5.60505e-255  0.00355707
..  ...        ...         ...           ...         ...
59  CGT -0.0346247 -0.00988161  7.51656e-235  0.00695625
60  TTC -0.0358899  -0.0102922  5.60505e-255  0.00355707
61  ACC -0.0392599  -0.0104086  4.87655e-263   0.0128254
62  ATC  -0.044322  -0.0104157  1.60693e-262   0.0095527
63  GAT -0.0485549  -0.0099873   5.7389e-242   0.0121331

[64 rows x 5 columns]

In [10]:
df.to_csv("Mouse_Codon_Regression.csv", index=0)

In [11]:
df.head(10)

  Name      Slope   Intercept        Pvalue          R2
0  AGA  0.0541767 -0.00943754  2.00863e-219   0.0290628
1  GAC  0.0485549  -0.0099873   5.7389e-242   0.0121331
2  ACT  0.0428209  -0.0100183  1.32575e-244   0.0161773
3  GGA  0.0415992  -0.0101787  3.94951e-252   0.0144469
4  TTT  0.0358899  -0.0102922  5.60505e-255  0.00355707
5  CAA  0.0340791  -0.0105646  5.05449e-268  0.00481258
6  ATA  0.0329472  -0.0104738  6.41844e-264  0.00474671
7  AAA  0.0317259  -0.0103089  2.10531e-256  0.00594935
8  GTA  0.0314513  -0.0105105  1.02797e-265  0.00511331
9  CCA  0.0267612  -0.0101335  1.85475e-247  0.00542706

In [12]:
df.tail(10)

   Name      Slope   Intercept        Pvalue          R2
54  GGT -0.0300358  -0.0100255  3.97359e-242   0.0062435
55  AAG -0.0317259  -0.0103089  2.10531e-256  0.00594935
56  TCC -0.0319524  -0.0103551   2.4315e-260   0.0125109
57  GTC -0.0323038  -0.0102214  5.17657e-252  0.00573587
58  CAG -0.0340791  -0.0105646  5.05449e-268  0.00481258
59  CGT -0.0346247 -0.00988161  7.51656e-235  0.00695625
60  TTC -0.0358899  -0.0102922  5.60505e-255  0.00355707
61  ACC -0.0392599  -0.0104086  4.87655e-263   0.0128254
62  ATC  -0.044322  -0.0104157  1.60693e-262   0.0095527
63  GAT -0.0485549  -0.0099873   5.7389e-242   0.0121331