### Fasta2CSV

In [1]:
from Bio import SeqIO
import numpy as np
import pandas as pd

In [2]:
meta=[]
sequence=[]

In [3]:
seq = ('mm10.txt')

In [4]:
for seq_record in SeqIO.parse(seq, "fasta"):
    meta.append(str(seq_record.id))
    sequence.append(str(seq_record.seq))

In [5]:
Fasta = pd.DataFrame(data ={'Meta':meta,'Sequence':sequence})

In [6]:
Fasta

,Meta,Sequence
0,chr1:134199224-134235431,TTTTAATTACATTTATTGgtgtgtgagtgtgtgttcacatgcacac...
1,chr1:8361474-9299238,caggtgacatttcacctgcgtgtatgtatatgcaccacgtgtgtat...
2,chr1:25067549-25829707,TGATATGTAGACAAAAGTTTATTTACACCATACAACATTTTAAATA...
3,chr1:33453809-33669795,TAGTCATATACATGTTGTTTATTAGCAAAAACAATCCAAAAGAGGA...
4,chr1:58711559-58758884,GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...
...,...,...
22352,chr19:60864050-60874556,TAAGTCAAAAACGCAAATATTTTAATGTTTATTTTTATTCTATATA...
22353,chr19:61174685-61176309,ccagtattttaaaagattcatccttgtacttctgttactctagaac...
22354,chr19:61183889-61183955,gagaaaccttacaaatgtgatcaatgtggtaaagcctttccataca...
22355,chr19:61224401-61228418,AAATGTTCtggcttttattttacagacatatgattcttctagtact...
22356,chr19:61296901-61297069,ctctccagtatgtattcttttatgtacttggagagtattatgatat...

In [7]:
Data = pd.read_csv("mm10.csv")

In [8]:
Data

          name  chrom strand    txStart      txEnd
0       Adora1   chr1      -  134199224  134235431
1        Sntg1   chr1      -    8361474    9299238
2       Adgrb3   chr1      -   25067549   25829707
3        Prim2   chr1      -   33453809   33669795
4        Cflar   chr1      +   58711559   58758884
...        ...    ...    ...        ...        ...
22352    Prdx3  chr19      -   60864050   60874556
22353   Gm7102  chr19      -   61174685   61176309
22354   Gm6020  chr19      +   61183889   61183955
22355   Csf2ra  chr19      -   61224401   61228418
22356  Gm21060  chr19      -   61296901   61297069

[22357 rows x 5 columns]

In [9]:
Result = pd.merge(Data, Fasta, left_index=True, right_index=True, how='outer')

In [10]:
Result

,name,chrom,strand,txStart,txEnd,Meta,Sequence
0,Adora1,chr1,-,134199224,134235431,chr1:134199224-134235431,TTTTAATTACATTTATTGgtgtgtgagtgtgtgttcacatgcacac...
1,Sntg1,chr1,-,8361474,9299238,chr1:8361474-9299238,caggtgacatttcacctgcgtgtatgtatatgcaccacgtgtgtat...
2,Adgrb3,chr1,-,25067549,25829707,chr1:25067549-25829707,TGATATGTAGACAAAAGTTTATTTACACCATACAACATTTTAAATA...
3,Prim2,chr1,-,33453809,33669795,chr1:33453809-33669795,TAGTCATATACATGTTGTTTATTAGCAAAAACAATCCAAAAGAGGA...
4,Cflar,chr1,+,58711559,58758884,chr1:58711559-58758884,GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...
...,...,...,...,...,...,...,...
22352,Prdx3,chr19,-,60864050,60874556,chr19:60864050-60874556,TAAGTCAAAAACGCAAATATTTTAATGTTTATTTTTATTCTATATA...
22353,Gm7102,chr19,-,61174685,61176309,chr19:61174685-61176309,ccagtattttaaaagattcatccttgtacttctgttactctagaac...
22354,Gm6020,chr19,+,61183889,61183955,chr19:61183889-61183955,gagaaaccttacaaatgtgatcaatgtggtaaagcctttccataca...
22355,Csf2ra,chr19,-,61224401,61228418,chr19:61224401-61228418,AAATGTTCtggcttttattttacagacatatgattcttctagtact...
22356,Gm21060,chr19,-,61296901,61297069,chr19:61296901-61297069,ctctccagtatgtattcttttatgtacttggagagtattatgatat...

In [11]:
Result.drop(["Meta"], axis=1, inplace=True)

In [12]:
Result

,name,chrom,strand,txStart,txEnd,Sequence
0,Adora1,chr1,-,134199224,134235431,TTTTAATTACATTTATTGgtgtgtgagtgtgtgttcacatgcacac...
1,Sntg1,chr1,-,8361474,9299238,caggtgacatttcacctgcgtgtatgtatatgcaccacgtgtgtat...
2,Adgrb3,chr1,-,25067549,25829707,TGATATGTAGACAAAAGTTTATTTACACCATACAACATTTTAAATA...
3,Prim2,chr1,-,33453809,33669795,TAGTCATATACATGTTGTTTATTAGCAAAAACAATCCAAAAGAGGA...
4,Cflar,chr1,+,58711559,58758884,GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...
...,...,...,...,...,...,...
22352,Prdx3,chr19,-,60864050,60874556,TAAGTCAAAAACGCAAATATTTTAATGTTTATTTTTATTCTATATA...
22353,Gm7102,chr19,-,61174685,61176309,ccagtattttaaaagattcatccttgtacttctgttactctagaac...
22354,Gm6020,chr19,+,61183889,61183955,gagaaaccttacaaatgtgatcaatgtggtaaagcctttccataca...
22355,Csf2ra,chr19,-,61224401,61228418,AAATGTTCtggcttttattttacagacatatgattcttctagtact...
22356,Gm21060,chr19,-,61296901,61297069,ctctccagtatgtattcttttatgtacttggagagtattatgatat...

In [13]:
Result["Length"] = Result["txEnd"] - Result["txStart"]

In [14]:
Result

,name,chrom,strand,txStart,txEnd,Sequence,Length
0,Adora1,chr1,-,134199224,134235431,TTTTAATTACATTTATTGgtgtgtgagtgtgtgttcacatgcacac...,36207
1,Sntg1,chr1,-,8361474,9299238,caggtgacatttcacctgcgtgtatgtatatgcaccacgtgtgtat...,937764
2,Adgrb3,chr1,-,25067549,25829707,TGATATGTAGACAAAAGTTTATTTACACCATACAACATTTTAAATA...,762158
3,Prim2,chr1,-,33453809,33669795,TAGTCATATACATGTTGTTTATTAGCAAAAACAATCCAAAAGAGGA...,215986
4,Cflar,chr1,+,58711559,58758884,GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...,47325
...,...,...,...,...,...,...,...
22352,Prdx3,chr19,-,60864050,60874556,TAAGTCAAAAACGCAAATATTTTAATGTTTATTTTTATTCTATATA...,10506
22353,Gm7102,chr19,-,61174685,61176309,ccagtattttaaaagattcatccttgtacttctgttactctagaac...,1624
22354,Gm6020,chr19,+,61183889,61183955,gagaaaccttacaaatgtgatcaatgtggtaaagcctttccataca...,66
22355,Csf2ra,chr19,-,61224401,61228418,AAATGTTCtggcttttattttacagacatatgattcttctagtact...,4017
22356,Gm21060,chr19,-,61296901,61297069,ctctccagtatgtattcttttatgtacttggagagtattatgatat...,168

In [15]:
Data = Result

In [16]:
Data

,name,chrom,strand,txStart,txEnd,Sequence,Length
0,Adora1,chr1,-,134199224,134235431,TTTTAATTACATTTATTGgtgtgtgagtgtgtgttcacatgcacac...,36207
1,Sntg1,chr1,-,8361474,9299238,caggtgacatttcacctgcgtgtatgtatatgcaccacgtgtgtat...,937764
2,Adgrb3,chr1,-,25067549,25829707,TGATATGTAGACAAAAGTTTATTTACACCATACAACATTTTAAATA...,762158
3,Prim2,chr1,-,33453809,33669795,TAGTCATATACATGTTGTTTATTAGCAAAAACAATCCAAAAGAGGA...,215986
4,Cflar,chr1,+,58711559,58758884,GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...,47325
...,...,...,...,...,...,...,...
22352,Prdx3,chr19,-,60864050,60874556,TAAGTCAAAAACGCAAATATTTTAATGTTTATTTTTATTCTATATA...,10506
22353,Gm7102,chr19,-,61174685,61176309,ccagtattttaaaagattcatccttgtacttctgttactctagaac...,1624
22354,Gm6020,chr19,+,61183889,61183955,gagaaaccttacaaatgtgatcaatgtggtaaagcctttccataca...,66
22355,Csf2ra,chr19,-,61224401,61228418,AAATGTTCtggcttttattttacagacatatgattcttctagtact...,4017
22356,Gm21060,chr19,-,61296901,61297069,ctctccagtatgtattcttttatgtacttggagagtattatgatat...,168

In [17]:
Data = Data.sort_values(by=["chrom","txStart"], axis=0, ascending=True)
Data = Data.reset_index(drop = True)

In [18]:
Data

,name,chrom,strand,txStart,txEnd,Sequence,Length
0,Xkr4,chr1,-,3214481,3671498,AAAGTTTGACCGGCACTTTTAATGCAACAAAAAGCACCATGACCAA...,457017
1,Rp1,chr1,-,4290845,4409241,gactgtgggtttgcaatatattgtgtttattatggagaggtatatc...,118396
2,Sox17,chr1,-,4491389,4497354,AAGATTCCAGGATTTATTTAAGATTGAGAAAACACGCATGACAAAA...,5965
3,Mrpl15,chr1,-,4773210,4785739,AGATTTAGGAATTCTGTTTATTGAACAAACTGCAGAAGGGAAGACT...,12529
4,Lypla1,chr1,+,4807822,4846739,gagcgcgcgcccggaggggcgggcTGGGACTTTCGGCTGCCGGGAG...,38917
...,...,...,...,...,...,...,...
22352,Gm21996,chrY,-,89713423,89745532,TTTCATAGGAGACAAAAAAAGGTAGATATTTTTTTCTTTGTTTtat...,32109
22353,Gm20837,chrY,+,90401247,90433263,GAGGAGCTAAGCACAGAAGGGTGCGGTTGGGAAGGTGTTCTCCTCT...,32016
22354,Gm21860,chrY,-,90754512,90754821,TTATAGGTAGAGTCCATCTTTTGTAGCACTCACTCCGCTGCAGACA...,309
22355,Erdr1,chrY,+,90785441,90816464,TTCTCTTTTAGCCGCAGCTATGGTTTCTGCCCTAATTATTCTTGTC...,31023
22356,Gm21748,chrY,-,90838868,90839177,TTATAGGTAGAGTCCATCTTTTGTAGCACTCACTCCGCTGCAGACA...,309

In [19]:
Data.to_csv("mm10_Fasta.csv", index=0)