## Grab sequence

In [1]:
import numpy as np
import pandas as pd

In [2]:
Data = pd.read_csv("UniqmRNA_GENCODE_VM7com_mm10_RefSeqpriority.txt", sep="\t", header=None)

In [3]:
Data.drop([0,11,13,14,15], axis=1, inplace=True)

In [4]:
Data

,1,2,3,4,5,6,7,8,9,10,12
0,ENSMUST00000086465.5,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",Adora1
1,ENSMUST00000140295.6,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",Sntg1
2,ENSMUST00000151309.6,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",Adgrb3
3,ENSMUST00000027312.10,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",Prim2
4,ENSMUST00000114313.6,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",Cflar
...,...,...,...,...,...,...,...,...,...,...,...
22418,ENSMUST00000115964.2,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325...",Tmlhe
22419,ENSMUST00000051100.6,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,",Vamp7
22420,ENSMUST00000167421.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,",CAAA01165726.1
22421,ENSMUST00000076951.3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,",Spry3
22422,ENSMUST00000178569.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,",AC234645.1

In [5]:
Data[1] = Data[12]

In [6]:
Data.drop([12], axis=1, inplace=True)

In [7]:
Data

,1,2,3,4,5,6,7,8,9,10
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555..."
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3..."
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5..."
...,...,...,...,...,...,...,...,...,...,...
22418,Tmlhe,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325..."
22419,Vamp7,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,"
22420,CAAA01165726.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,"
22421,Spry3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,"
22422,AC234645.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,"

In [8]:
Data.columns = ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]

In [9]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555..."
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3..."
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5..."
...,...,...,...,...,...,...,...,...,...,...
22418,Tmlhe,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325..."
22419,Vamp7,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,"
22420,CAAA01165726.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,"
22421,Spry3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,"
22422,AC234645.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,"

### Select coding genes

In [10]:
idx = (Data["cdsStart"] != Data["cdsEnd"])

In [11]:
Data = Data.loc[idx, ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]]

In [12]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555..."
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3..."
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5..."
...,...,...,...,...,...,...,...,...,...,...
22418,Tmlhe,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325..."
22419,Vamp7,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,"
22420,CAAA01165726.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,"
22421,Spry3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,"
22422,AC234645.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,"

### Keep standard chromosomes

In [13]:
Data = Data[:22357]

### exonCount > 1

In [14]:
Data = Data[Data.exonCount > 1]

In [15]:
Data = Data.reset_index(drop = True)

In [16]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555..."
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3..."
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5..."
...,...,...,...,...,...,...,...,...,...,...
19628,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6..."
19629,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6..."
19630,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6..."
19631,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6..."
19632,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6..."

In [17]:
Data["LastExonStart"] = 0
Data["LastExonEnd"] = 0

In [18]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",0,0
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",0,0
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",0,0
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",0,0
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
19628,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",0,0
19629,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",0,0
19630,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",0,0
19631,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",0,0
19632,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",0,0

In [19]:
for i in range(len(Data)):
    if Data.loc[i, "strand"] == "+":
        Data.loc[i,("LastExonStart")] = Data.loc[i, "exonStarts"].split(",")[-2]
        Data.loc[i,("LastExonEnd")] = Data.loc[i, "exonEnds"].split(",")[-2]
    elif Data.loc[i, "strand"] == "-":
        Data.loc[i,("LastExonStart")] = Data.loc[i, "exonStarts"].split(",")[0]
        Data.loc[i,("LastExonEnd")] = Data.loc[i, "exonEnds"].split(",")[0]

In [20]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",8361474,8363633
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",25067549,25068356
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",33453809,33454304
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",58753783,58758884
...,...,...,...,...,...,...,...,...,...,...,...,...
19628,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",60198585,60199487
19629,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",60761115,60762304
19630,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",60838747,60839050
19631,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",60864050,60864719
19632,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033

In [21]:
Data.drop(["exonCount", "exonStarts", "exonEnds"], axis=1, inplace=True)

In [22]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,134199224,134203590
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,8361474,8363633
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25067549,25068356
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,33453809,33454304
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,58753783,58758884
...,...,...,...,...,...,...,...,...,...
19628,Fam204a,chr19,-,60198585,60226697,60199435,60221296,60198585,60199487
19629,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304
19630,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,60838747,60839050
19631,Prdx3,chr19,-,60864050,60874556,60864665,60874467,60864050,60864719
19632,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,61224401,61225033

In [23]:
Data["LastExonStart"] = Data["LastExonStart"].astype(int)
Data["LastExonEnd"] = Data["LastExonEnd"].astype(int)

In [24]:
StopCodon = pd.read_csv("StopCodon.csv")

In [25]:
StopCodon

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,StopCodon
0,Lypla1,chr1,+,4807822,4846739,4807913,4845016,4844962,4846739,TGA
1,Gm37988,chr1,+,4807891,4886770,4807913,4832316,4886743,4886770,TGA
2,Tcea1,chr1,+,4857813,4897905,4857913,4896364,4896355,4897905,TGA
3,Atp6v1h,chr1,+,5083079,5162529,5084450,5162165,5162104,5162529,TGA
4,Oprk1,chr1,+,5588492,5606131,5589048,5602784,5602251,5606131,TGA
...,...,...,...,...,...,...,...,...,...,...
21626,Gm21764,chrY,-,18061269,18061812,18061269,18061812,18061269,18061812,TAG
21627,Gm21852,chrY,-,40651453,40651996,40651453,40651996,40651453,40651996,TAG
21628,Gm21797,chrY,-,40775222,40775765,40775222,40775765,40775222,40775765,TAG
21629,Gm29644,chrY,-,70271305,70303343,70301098,70301674,70271305,70271539,TAG
21630,Gm29423,chrY,-,70292584,70303287,70293440,70303173,70292584,70293452,TAG

In [26]:
Data = pd.merge(Data, StopCodon, how="inner", on=["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "LastExonStart", "LastExonEnd"])

In [27]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,StopCodon
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,134199224,134203590,TAG
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,8361474,8363633,TGA
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25067549,25068356,TAA
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,33453809,33454304,TAG
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,58753783,58758884,TGA
...,...,...,...,...,...,...,...,...,...,...
19099,Fam204a,chr19,-,60198585,60226697,60199435,60221296,60198585,60199487,TGA
19100,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304,TAA
19101,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,60838747,60839050,TAG
19102,Prdx3,chr19,-,60864050,60874556,60864665,60874467,60864050,60864719,TAG
19103,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,61224401,61225033,TAG

In [28]:
Group = pd.read_csv("Group.csv")

In [29]:
Group

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,LastExonStart,LastExonEnd,Group
0,Xkr4,chr1,-,3214481,3671498,3216021,3671348,3,3214481,3216968,2
1,Rp1,chr1,-,4290845,4409241,4292980,4409187,4,4290845,4293012,2
2,Sox17,chr1,-,4491389,4497354,4491715,4495155,4,4491389,4492668,2
3,Mrpl15,chr1,-,4773210,4785739,4776463,4785677,5,4773210,4776801,2
4,Lypla1,chr1,+,4807822,4846739,4807913,4845016,9,4844962,4846739,2
...,...,...,...,...,...,...,...,...,...,...,...
22352,Gm21996,chrY,-,89713423,89745532,89713627,89744111,10,89713423,89713657,2
22353,Gm20837,chrY,+,90401247,90433263,90402678,90433059,8,90433029,90433263,2
22354,Gm21860,chrY,-,90754512,90754821,90754512,90754821,1,90754512,90754821,1
22355,Erdr1,chrY,+,90785441,90816464,90785670,90816447,4,90816435,90816464,2
22356,Gm21748,chrY,-,90838868,90839177,90838868,90839177,1,90838868,90839177,1

In [30]:
Data = pd.merge(Data, Group, how="inner", on=["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "LastExonStart", "LastExonEnd"])

In [31]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,StopCodon,exonCount,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,134199224,134203590,TAG,3,2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,8361474,8363633,TGA,21,2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25067549,25068356,TAA,31,2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,33453809,33454304,TAG,14,2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,58753783,58758884,TGA,10,2
...,...,...,...,...,...,...,...,...,...,...,...,...
19099,Fam204a,chr19,-,60198585,60226697,60199435,60221296,60198585,60199487,TGA,8,2
19100,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304,TAA,22,2
19101,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,60838747,60839050,TAG,14,2
19102,Prdx3,chr19,-,60864050,60874556,60864665,60874467,60864050,60864719,TAG,7,2
19103,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,61224401,61225033,TAG,12,2

In [32]:
Data = Data[Data["Group"]==2]
Data.drop(["StopCodon","exonCount","Group"], axis=1, inplace=True)
Data = Data.reset_index(drop = True)

/home/luoz/miniconda3/envs/m6AAI/lib/python3.8/site-packages/pandas/core/frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [33]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,134199224,134203590
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,8361474,8363633
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25067549,25068356
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,33453809,33454304
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,58753783,58758884
...,...,...,...,...,...,...,...,...,...
18108,Fam204a,chr19,-,60198585,60226697,60199435,60221296,60198585,60199487
18109,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304
18110,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,60838747,60839050
18111,Prdx3,chr19,-,60864050,60874556,60864665,60874467,60864050,60864719
18112,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,61224401,61225033

In [34]:
Bed = Data[["chrom","LastExonStart","LastExonEnd"]]

In [35]:
Bed

       chrom  LastExonStart  LastExonEnd
0       chr1      134199224    134203590
1       chr1        8361474      8363633
2       chr1       25067549     25068356
3       chr1       33453809     33454304
4       chr1       58753783     58758884
...      ...            ...          ...
18108  chr19       60198585     60199487
18109  chr19       60761115     60762304
18110  chr19       60838747     60839050
18111  chr19       60864050     60864719
18112  chr19       61224401     61225033

[18113 rows x 3 columns]

In [36]:
Bed.to_csv("mm10_LastExon.bed", sep="\t", header=False, index=False)

### m6A sites

In [37]:
Site = pd.read_csv("iM6A_m3cRAC_Label.csv")

In [38]:
Site

         chrom     Start       End     name    Probabilty strand  Label
0         chr1   3214485   3214486     Xkr4  1.316975e-05      -      0
1         chr1   3214554   3214555     Xkr4  9.799121e-07      -      0
2         chr1   3214662   3214663     Xkr4  1.997159e-01      -      1
3         chr1   3214724   3214725     Xkr4  1.521015e-01      -      0
4         chr1   3214732   3214733     Xkr4  6.528376e-01      -      1
...        ...       ...       ...      ...           ...    ...    ...
19671398  chrY  90816408  90816409    Erdr1  7.192771e-05      +      0
19671399  chrY  90816418  90816419    Erdr1  5.691654e-05      +      0
19671400  chrY  90838880  90838881  Gm21748  1.863572e-03      -      0
19671401  chrY  90839032  90839033  Gm21748  1.835544e-04      -      0
19671402  chrY  90839058  90839059  Gm21748  7.413900e-03      -      0

[19671403 rows x 7 columns]

In [39]:
Site = Site[["chrom","Start","End","Label","name","strand"]]

In [40]:
Gene = Site[Site["Label"]==1]
Gene = Gene[["name"]]
Gene = Gene.drop_duplicates(subset=["name"], keep="first")

In [41]:
Site.to_csv("m3cRAC.bed", sep="\t", header=False, index=False)

In [42]:
!bedtools intersect -a m3cRAC.bed -b mm10_LastExon.bed -wa -wb > m3cRAC_LastExon.txt

In [43]:
Site = pd.read_table("m3cRAC_LastExon.txt", header=None)

In [44]:
Site

           0         1         2  3        4  5     6         7         8
0       chr1   3214485   3214486  0     Xkr4  -  chr1   3214481   3216968
1       chr1   3214554   3214555  0     Xkr4  -  chr1   3214481   3216968
2       chr1   3214662   3214663  1     Xkr4  -  chr1   3214481   3216968
3       chr1   3214724   3214725  0     Xkr4  -  chr1   3214481   3216968
4       chr1   3214732   3214733  1     Xkr4  -  chr1   3214481   3216968
...      ...       ...       ... ..      ... ..   ...       ...       ...
785621  chrY  90433054  90433055  0  Gm20837  +  chrY  90433029  90433263
785622  chrY  90433085  90433086  0  Gm20837  +  chrY  90433029  90433263
785623  chrY  90433121  90433122  0  Gm20837  +  chrY  90433029  90433263
785624  chrY  90433218  90433219  0  Gm20837  +  chrY  90433029  90433263
785625  chrY  90433258  90433259  0  Gm20837  +  chrY  90433029  90433263

[785626 rows x 9 columns]

In [45]:
Site= Site[[0,1,2,3,4,5]]
Site.columns = ["chrom","Start","End","Label","name","strand"]

In [46]:
Site

       chrom     Start       End  Label     name strand
0       chr1   3214485   3214486      0     Xkr4      -
1       chr1   3214554   3214555      0     Xkr4      -
2       chr1   3214662   3214663      1     Xkr4      -
3       chr1   3214724   3214725      0     Xkr4      -
4       chr1   3214732   3214733      1     Xkr4      -
...      ...       ...       ...    ...      ...    ...
785621  chrY  90433054  90433055      0  Gm20837      +
785622  chrY  90433085  90433086      0  Gm20837      +
785623  chrY  90433121  90433122      0  Gm20837      +
785624  chrY  90433218  90433219      0  Gm20837      +
785625  chrY  90433258  90433259      0  Gm20837      +

[785626 rows x 6 columns]

In [47]:
Site = Site.sort_values(by=["name","Label"], axis=0, ascending=[True, False])

In [48]:
Site

        chrom     Start       End  Label           name strand
162995  chr12  85815509  85815510      0  0610007P14Rik      -
162996  chr12  85815569  85815570      0  0610007P14Rik      -
162997  chr12  85815587  85815588      0  0610007P14Rik      -
162998  chr12  85815609  85815610      0  0610007P14Rik      -
162999  chr12  85815641  85815642      0  0610007P14Rik      -
...       ...       ...       ...    ...            ...    ...
656499   chr7  89918957  89918958      0          l7Rn6      -
656500   chr7  89918974  89918975      0          l7Rn6      -
656501   chr7  89918985  89918986      0          l7Rn6      -
656502   chr7  89918988  89918989      0          l7Rn6      -
656503   chr7  89918998  89918999      0          l7Rn6      -

[785626 rows x 6 columns]

In [49]:
Site = pd.merge(Site, Gene, how="inner", on=["name"])

In [50]:
CLIP = Site[Site["Label"]==1]
CLIP = CLIP.reset_index(drop = True)

In [51]:
CLIP

       chrom     Start       End  Label           name strand
0      chr11  51685635  51685636      1  0610009B22Rik      -
1      chr11  51685650  51685651      1  0610009B22Rik      -
2      chr11  51685661  51685662      1  0610009B22Rik      -
3      chr11  51685721  51685722      1  0610009B22Rik      -
4      chr11  51685767  51685768      1  0610009B22Rik      -
...      ...       ...       ...    ...            ...    ...
37725  chr11  72924737  72924738      1          Zzef1      +
37726  chr11  72925723  72925724      1          Zzef1      +
37727  chr11  72926522  72926523      1          Zzef1      +
37728  chr11  72926808  72926809      1          Zzef1      +
37729  chr11  72926819  72926820      1          Zzef1      +

[37730 rows x 6 columns]

In [52]:
CLIP = pd.merge(CLIP, Data, how="inner", on=["chrom","name","strand"])

In [53]:
CLIP

,chrom,Start,End,Label,name,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd
0,chr11,51685635,51685636,1,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
1,chr11,51685650,51685651,1,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
2,chr11,51685661,51685662,1,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
3,chr11,51685721,51685722,1,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
4,chr11,51685767,51685768,1,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
...,...,...,...,...,...,...,...,...,...,...,...,...
37340,chr11,72924737,72924738,1,Zzef1,+,72796253,72927118,72796296,72924717,72924636,72927118
37341,chr11,72925723,72925724,1,Zzef1,+,72796253,72927118,72796296,72924717,72924636,72927118
37342,chr11,72926522,72926523,1,Zzef1,+,72796253,72927118,72796296,72924717,72924636,72927118
37343,chr11,72926808,72926809,1,Zzef1,+,72796253,72927118,72796296,72924717,72924636,72927118
37344,chr11,72926819,72926820,1,Zzef1,+,72796253,72927118,72796296,72924717,72924636,72927118

In [54]:
CLIP = CLIP[(CLIP["Start"] - CLIP["LastExonStart"]>50)&(CLIP["LastExonEnd"] - CLIP["End"]>50)]
CLIP = CLIP.reset_index(drop = True)

In [55]:
CLIP

,chrom,Start,End,Label,name,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd
0,chr11,51685635,51685636,1,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
1,chr11,51685650,51685651,1,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
2,chr11,51685661,51685662,1,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
3,chr11,51685721,51685722,1,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
4,chr11,51685767,51685768,1,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
...,...,...,...,...,...,...,...,...,...,...,...,...
36377,chr11,72924737,72924738,1,Zzef1,+,72796253,72927118,72796296,72924717,72924636,72927118
36378,chr11,72925723,72925724,1,Zzef1,+,72796253,72927118,72796296,72924717,72924636,72927118
36379,chr11,72926522,72926523,1,Zzef1,+,72796253,72927118,72796296,72924717,72924636,72927118
36380,chr11,72926808,72926809,1,Zzef1,+,72796253,72927118,72796296,72924717,72924636,72927118
36381,chr11,72926819,72926820,1,Zzef1,+,72796253,72927118,72796296,72924717,72924636,72927118

In [56]:
NonCLIP = Site[Site["Label"]==0]
NonCLIP = NonCLIP.reset_index(drop = True)

In [57]:
NonCLIP

        chrom      Start        End  Label           name strand
0       chr11   51685420   51685421      0  0610009B22Rik      -
1       chr11   51685468   51685469      0  0610009B22Rik      -
2       chr11   51685564   51685565      0  0610009B22Rik      -
3       chr11   51685758   51685759      0  0610009B22Rik      -
4       chr11   51685779   51685780      0  0610009B22Rik      -
...       ...        ...        ...    ...            ...    ...
471653   chr3  152462617  152462618      0           Zzz3      +
471654   chr3  152462648  152462649      0           Zzz3      +
471655   chr3  152462670  152462671      0           Zzz3      +
471656   chr3  152462673  152462674      0           Zzz3      +
471657   chr3  152462735  152462736      0           Zzz3      +

[471658 rows x 6 columns]

In [58]:
NonCLIP.to_csv("NonCLIP.bed", sep="\t", header=False, index=False)

In [59]:
!bedtools intersect -a NonCLIP.bed -b /pod/2/ke-lab/LUOZ/LiftOver/mm10.bed -wa -wb > Peak_Overlap.txt

In [60]:
Overlap = pd.read_table("Peak_Overlap.txt", header=None)

In [61]:
Overlap

,0,1,2,3,4,5,6,7,8
0,chr11,51685758,51685759,0,0610009B22Rik,-,chr11,51685588,51685958
1,chr11,51685779,51685780,0,0610009B22Rik,-,chr11,51685588,51685958
2,chr11,51685806,51685807,0,0610009B22Rik,-,chr11,51685588,51685958
3,chr11,51685956,51685957,0,0610009B22Rik,-,chr11,51685588,51685958
4,chr11,70235205,70235206,0,0610010K14Rik,-,chr11,70235180,70235408
...,...,...,...,...,...,...,...,...,...
84841,chr11,72926783,72926784,0,Zzef1,+,chr11,72926748,72926840
84842,chr11,72926799,72926800,0,Zzef1,+,chr11,72926748,72926840
84843,chr11,72926814,72926815,0,Zzef1,+,chr11,72926748,72926840
84844,chr11,72926897,72926898,0,Zzef1,+,chr11,72926888,72926928
84845,chr11,72926920,72926921,0,Zzef1,+,chr11,72926888,72926928

In [62]:
Overlap = Overlap[[0,1,2,3,4,5]]
Overlap.columns = ["chrom","Start","End","Label","name","strand"]

In [63]:
Overlap

       chrom     Start       End  Label           name strand
0      chr11  51685758  51685759      0  0610009B22Rik      -
1      chr11  51685779  51685780      0  0610009B22Rik      -
2      chr11  51685806  51685807      0  0610009B22Rik      -
3      chr11  51685956  51685957      0  0610009B22Rik      -
4      chr11  70235205  70235206      0  0610010K14Rik      -
...      ...       ...       ...    ...            ...    ...
84841  chr11  72926783  72926784      0          Zzef1      +
84842  chr11  72926799  72926800      0          Zzef1      +
84843  chr11  72926814  72926815      0          Zzef1      +
84844  chr11  72926897  72926898      0          Zzef1      +
84845  chr11  72926920  72926921      0          Zzef1      +

[84846 rows x 6 columns]

In [64]:
NonCLIP = NonCLIP.append(Overlap)
NonCLIP = NonCLIP.drop_duplicates(subset=["chrom","Start","End","Label","name","strand"], keep=False)
NonCLIP = NonCLIP.reset_index(drop = True)

In [65]:
NonCLIP

        chrom      Start        End  Label           name strand
0       chr11   51685420   51685421      0  0610009B22Rik      -
1       chr11   51685468   51685469      0  0610009B22Rik      -
2       chr11   51685564   51685565      0  0610009B22Rik      -
3       chr11   51685970   51685971      0  0610009B22Rik      -
4       chr11   51686071   51686072      0  0610009B22Rik      -
...       ...        ...        ...    ...            ...    ...
343711   chr3  152462617  152462618      0           Zzz3      +
343712   chr3  152462648  152462649      0           Zzz3      +
343713   chr3  152462670  152462671      0           Zzz3      +
343714   chr3  152462673  152462674      0           Zzz3      +
343715   chr3  152462735  152462736      0           Zzz3      +

[343716 rows x 6 columns]

In [66]:
NonCLIP = pd.merge(NonCLIP, Data, how="inner", on=["chrom","name","strand"])
NonCLIPP = NonCLIP[(NonCLIP["Start"] - NonCLIP["LastExonStart"]>50)&(NonCLIP["LastExonEnd"] - NonCLIP["End"]>50)]
NonCLIP = NonCLIP.reset_index(drop = True)

In [67]:
NonCLIP

,chrom,Start,End,Label,name,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd
0,chr11,51685420,51685421,0,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
1,chr11,51685468,51685469,0,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
2,chr11,51685564,51685565,0,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
3,chr11,51685970,51685971,0,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
4,chr11,51686071,51686072,0,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
...,...,...,...,...,...,...,...,...,...,...,...,...
340526,chr3,152462617,152462618,0,Zzz3,+,152396002,152462826,152427306,152458398,152458253,152462826
340527,chr3,152462648,152462649,0,Zzz3,+,152396002,152462826,152427306,152458398,152458253,152462826
340528,chr3,152462670,152462671,0,Zzz3,+,152396002,152462826,152427306,152458398,152458253,152462826
340529,chr3,152462673,152462674,0,Zzz3,+,152396002,152462826,152427306,152458398,152458253,152462826
340530,chr3,152462735,152462736,0,Zzz3,+,152396002,152462826,152427306,152458398,152458253,152462826

### Select m6A sites

In [68]:
CLIP = CLIP.sample(n=1000, random_state=1)
CLIP = CLIP.reset_index(drop = True)

In [69]:
CLIP

,chrom,Start,End,Label,name,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd
0,chr13,100779677,100779678,1,Ccnb1,-,100778649,100786570,100779677,100786402,100778649,100779785
1,chr8,95718647,95718648,1,Setd6,+,95715931,95719010,95715936,95718781,95718475,95719010
2,chr15,80212453,80212454,1,Mgat3,+,80173720,80215519,80210973,80212590,80210972,80215519
3,chr13,67069597,67069598,1,Zfp708,-,67069400,67081545,67070167,67074866,67069400,67071528
4,chr2,29180075,29180076,1,Setx,+,29124991,29182471,29126886,29180125,29179399,29182471
...,...,...,...,...,...,...,...,...,...,...,...,...
995,chr2,130591682,130591683,1,Ubox5,-,130590001,130630038,130591805,130602610,130590001,130592014
996,chr12,70466192,70466193,1,Tmx1,+,70453094,70468040,70453168,70466156,70465977,70468040
997,chr5,76154839,76154840,1,Srd5a3,+,76140270,76155479,76140327,76154782,76154522,76155479
998,chr2,126629860,126629861,1,Gabpb1,-,126627441,126675568,126630229,126658577,126627441,126630382
999,chr11,20303834,20303835,1,Slc1a4,-,20302179,20332713,20304265,20332472,20302179,20304500

In [70]:
CLIP.rename(columns={"Start":"m6AStart","End":"m6AEnd"}, inplace = True)

In [71]:
CLIP.to_csv("Motif_CLIP.csv", index=0)

In [72]:
Bed = CLIP.iloc[:, [0, 6, 7]]

In [73]:
Bed

     chrom    txStart      txEnd
0    chr13  100778649  100786570
1     chr8   95715931   95719010
2    chr15   80173720   80215519
3    chr13   67069400   67081545
4     chr2   29124991   29182471
..     ...        ...        ...
995   chr2  130590001  130630038
996  chr12   70453094   70468040
997   chr5   76140270   76155479
998   chr2  126627441  126675568
999  chr11   20302179   20332713

[1000 rows x 3 columns]

In [74]:
Bed.to_csv("Motif_CLIP.bed", sep="\t", header=False, index=False)

In [75]:
!bedtools getfasta -bed Motif_CLIP.bed -fi /pod/2/ke-lab/LUOZ/Reference/Fasta/mm10/mm10.fa -fo Motif_CLIP.txt

In [76]:
NonCLIP

,chrom,Start,End,Label,name,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd
0,chr11,51685420,51685421,0,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
1,chr11,51685468,51685469,0,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
2,chr11,51685564,51685565,0,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
3,chr11,51685970,51685971,0,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
4,chr11,51686071,51686072,0,0610009B22Rik,-,51685385,51688653,51685646,51686069,51685385,51686092
...,...,...,...,...,...,...,...,...,...,...,...,...
340526,chr3,152462617,152462618,0,Zzz3,+,152396002,152462826,152427306,152458398,152458253,152462826
340527,chr3,152462648,152462649,0,Zzz3,+,152396002,152462826,152427306,152458398,152458253,152462826
340528,chr3,152462670,152462671,0,Zzz3,+,152396002,152462826,152427306,152458398,152458253,152462826
340529,chr3,152462673,152462674,0,Zzz3,+,152396002,152462826,152427306,152458398,152458253,152462826
340530,chr3,152462735,152462736,0,Zzz3,+,152396002,152462826,152427306,152458398,152458253,152462826

In [77]:
NonCLIP = NonCLIP.sample(n=20000, random_state=1)
NonCLIP = NonCLIP.reset_index(drop = True)

In [78]:
NonCLIP

,chrom,Start,End,Label,name,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd
0,chr9,42412690,42412691,0,Tbcel,-,42412315,42472258,42415830,42451745,42412315,42416149
1,chrX,152345805,152345806,0,Gpr173,-,152343597,152368704,152346353,152347475,152343597,152347708
2,chr15,31457497,31457498,0,March6,-,31455898,31531037,31459188,31530821,31455898,31459279
3,chr2,131145641,131145642,0,Hspa12b,+,131127279,131146321,131134079,131145218,131144565,131146321
4,chr5,65829377,65829378,0,N4bp2,+,65763520,65830108,65790028,65826650,65826604,65830108
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,chr17,15771314,15771315,0,Chd1,+,15704966,15772610,15707086,15770323,15769977,15772610
19996,chr15,37366876,37366877,0,Ncald,-,37366174,37792433,37368827,37397434,37366174,37368925
19997,chrX,95423549,95423550,0,Amer1,-,95420317,95444872,95425111,95428510,95420317,95428598
19998,chr9,92607500,92607501,0,Plod2,+,92542222,92608428,92542459,92607230,92607074,92608428
19999,chr1,143999731,143999732,0,Rgs2,-,143999337,144004161,144001679,144004118,143999337,144001874

In [79]:
NonCLIP.rename(columns={"Start":"m6AStart","End":"m6AEnd"}, inplace = True)

In [80]:
NonCLIP

,chrom,m6AStart,m6AEnd,Label,name,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd
0,chr9,42412690,42412691,0,Tbcel,-,42412315,42472258,42415830,42451745,42412315,42416149
1,chrX,152345805,152345806,0,Gpr173,-,152343597,152368704,152346353,152347475,152343597,152347708
2,chr15,31457497,31457498,0,March6,-,31455898,31531037,31459188,31530821,31455898,31459279
3,chr2,131145641,131145642,0,Hspa12b,+,131127279,131146321,131134079,131145218,131144565,131146321
4,chr5,65829377,65829378,0,N4bp2,+,65763520,65830108,65790028,65826650,65826604,65830108
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,chr17,15771314,15771315,0,Chd1,+,15704966,15772610,15707086,15770323,15769977,15772610
19996,chr15,37366876,37366877,0,Ncald,-,37366174,37792433,37368827,37397434,37366174,37368925
19997,chrX,95423549,95423550,0,Amer1,-,95420317,95444872,95425111,95428510,95420317,95428598
19998,chr9,92607500,92607501,0,Plod2,+,92542222,92608428,92542459,92607230,92607074,92608428
19999,chr1,143999731,143999732,0,Rgs2,-,143999337,144004161,144001679,144004118,143999337,144001874

In [81]:
NonCLIP.to_csv("Motif_NonCLIP.csv", index=0)

In [82]:
Bed = NonCLIP.iloc[:, [0, 6, 7]]

In [83]:
Bed

       chrom    txStart      txEnd
0       chr9   42412315   42472258
1       chrX  152343597  152368704
2      chr15   31455898   31531037
3       chr2  131127279  131146321
4       chr5   65763520   65830108
...      ...        ...        ...
19995  chr17   15704966   15772610
19996  chr15   37366174   37792433
19997   chrX   95420317   95444872
19998   chr9   92542222   92608428
19999   chr1  143999337  144004161

[20000 rows x 3 columns]

In [84]:
Bed.to_csv("Motif_NonCLIP.bed", sep="\t", header=False, index=False)

In [85]:
!bedtools getfasta -bed Motif_NonCLIP.bed -fi /pod/2/ke-lab/LUOZ/Reference/Fasta/mm10/mm10.fa -fo Motif_NonCLIP.txt